<div class="calltoaction">
    <img style="float:right;" src="/images/favicon.png" width="10%" height="auto">
    <h2 class="text-buttom">OCTOBERUS</h2>
    <p class="text-b">Solución de Seguridad Inteligente</p>
    <div class="button_cont" align="center">
        <a class="calltoaction-d" href="https://octoberus.com/" target="_blank">Sitio Web</a>
        <!-- <a class="calltoaction-c" href="https://calendly.com/octo-inc/reunion" target="_blank">Agenda una reunión con nosotros</a> -->
    </div>
</div>