<div class="calltoaction">
    <img style="float:right;" src="/images/favicon.png" width="10%" height="auto">
    <h2 class="text-buttom">OCTOPULL</h2>
    <p class="text-b">Digitalizamos tu operación y tu planta</p>
    <div class="button_cont" align="center">
        <a class="calltoaction-b" href="https://octopull.cl/" target="_blank">Comencemos a digitalizar</a>
        <a class="calltoaction-c" href="https://calendly.com/octo-inc/reunion" target="_blank">Agenda una reunión con nosotros</a>
    </div>
</div>