<!-- Buttom Subscribe -->
<div role="dialog" tabindex="-1" class="modal" fade id="modal-avisolegal" style="max-width:600px;margin-right:auto;margin-left:auto;">
    <div class="modal-dialog role=document">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="text-center" style="
                margin-bottom: 2px;"
             modal-title >SUSCRÍBETE</h3>
            </div>
            <div style="padding:50px 30px 0px 30px; text-align: center;"> <b>¿Quieres mantenerte informado sobre las nuevas tecnologías que puedes integrar en tu empresa, procesos y más?</b><br>
                Suscríbete y recibe un correo electrónico cada vez que subamos nuevo contenido a nuestro blog.</div>
             <div class="modal-body" style="padding: 40px; text-align: center; font-family: 'Nunito Sans', sans-serif!important;">
                     <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/1sToVRkznubuBsDO6gEAvUPIGjuB9VVQwIHIaOQN5vgZg0CVKQDPfovD0n22EShHR"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
                </div>
                

            </div>
            <!-- <div class="modal-footer"> 
                <button class="btn btn-default btn btn-primary btn-lg" type="button" data-dismiss="modal">Cerrar</button>
             </div> -->
         </div>
</div>
